{% extends '::base.html.twig' %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset ('bundles/oferta/css/normalizar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset ('bundles/oferta/css/comun.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset ('bundles/oferta/css/frontend.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <header>
        <h1><a href="{{ path('portada', {'ciudad': ciudadSeleccionada}) }}">##CUPON##</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada', {'ciudad': ciudadSeleccionada}) }}">{% trans %}Oferta del día{% endtrans %}</a></li>
                <li><a href="#">{% trans %}Ofertas recientes{% endtrans %}</a></li>
                <li><a href="#">{% trans %}Mis ofertas{% endtrans %}</a></li>   
            </ul>
            {% render "CiudadBundle:Default:listaCiudades" with { 'ciudad':ciudadSeleccionada } %}
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}
            <section id="login">
            {% render "UsuarioBundle:Default:cajaLogin" %}
            </section>   
            <section id="nosotros">
                <h2>Sobre nosotros</h2>
                <p>Lorem ipsum dolor sit amet...</p>
            </section>
        {% endblock %}
    </aside>
{% endblock %}