{% if is_granted('ROLE_USUARIO') %}
{% if app.session.hasFlash('info') %}
<p class="info">{{ app.session.getFlash('info') }}</p>
{% endif %}
<p>Conectado como {{ app.user.nombre ~ ' ' ~ app.user.apellidos }}</p>
<a href="#">Ver mi perfil</a>
<a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% else %}
<a class ="boton" href="{{ path('usuario_registro') }}">Regístrate</a>
<h2>Accede a tu cuenta</h2>
<form action="{{ path('usuario_login_check') }}" method="post">
    
     <label for="login_user">Email:</label>
     <input type="text" id="login_user" name="_username" value="{{ last_username | default('') }}"/>

    <label for="login_pass">Contraseña:</label>
    <input type="password" id="login_pass" name="_password"/>
    
    <input type="checkbox" id="no_cerrar" name="_remember_me" checked/>
    <label for="no_cerrar">No cerrar sesión</label>    

    <input type="submit" value="Entrar"/>
</form>
{% endif %}